@import "font.css";

html {
  visibility: visible;
  opacity: 1;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div,
section {
  box-sizing: border-box;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$green: #1B2112;
$serif: 'Libre Baskerville', serif;
$mat: 'Mattone', sans-serif;
$maz: "Maz-Regular", serif;
$mazIt: "Maz-Italic", serif;
$spacing: 8px;
$spaceS: $spacing*6;
$spaceM: $spacing*10;
$spaceB: $spacing*25;
$tsmall: 10px;
$tquote: 32px;
$container: 1000px;
$containerLarge: 1200px;
@mixin quote {
  font-family: $maz;
  font-size: $tquote;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: $spacing*3;
}
@mixin author {
  margin-bottom: $spacing;
  font-family: $mat;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}
@mixin lineEl {
  height: 6px;
  width: 6px;
  background: white;
  border-radius: 100%;
  position: absolute;
}

body {
  background: $green;
  color: white;
  font-family: $serif;
  line-height: normal;
}


// progress
progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  background: transparent;
  z-index: 999;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: white;
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: white;
  background-attachment: fixed;
}

.logo{
  display: flex;
  flex-direction: column;
  span{
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-family: $mat;
    margin-bottom: $spacing;
  }
}

.v-line-cont {
  display: flex;
  flex-direction: column;
  align-items: center;

  .v-line {
    width: 1px;
    height: 50vh;
    background: white;
    margin-top: $spacing*2;
  }

  span {
    font-family: $mat;
    font-size: $tsmall;
    text-transform: uppercase;
  }

  &.end {
    .v-line {
      margin-top: 0;
      margin-bottom: $spacing*2;
      position: relative;

      &:after {
        content: " ";
        @include lineEl;
        bottom: 0;
        left: -2.5px;
      }
    }

    h4 {
      @include author;
      font-size: 14px;
    }
  }
}


.separator-container{
  position: relative;
  max-width: $containerLarge;
  margin: 0 auto;
  .v-line.separator {
    height: 50vh;
    margin: 0 auto $spaceS;
    width: 1px;
    background: white;
    position: relative;
  }
  img{
    width:40%;
    height: auto;
    }
    &.first img{
    position: absolute;
    left: $spacing*5;

    }
    &.center img{
    position: absolute;
    right: $spacing*5;
    }
    &.last img{
    position: absolute;
    width:30%;
    left: $spacing*5;
    }
}


.hero-image{
  width:100%;
}

.first-section {
  .hero-section {
    .hero-container {
      padding: $spaceS;
      display: flex;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      position: relative;

      .v-line-cont {
        margin-top: 70vh;

        .v-line {
          position: relative;

          &:before {
            content: " ";
            @include lineEl;
            top: 0;
            left: -2.5px;
          }
        }
      }
    }
  }
}

.lozad{
    opacity:0;
    filter:blur(15px);
}
.hero-second{
  opacity:0;
  filter:blur(10px);
}

.image-hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  img{
    opacity:0;
    filter:blur(15px);
  };
  figure{
    width: 25vw !important;
    position: absolute;
    &:nth-child(1) {
      left: 8%;
      top: 8vh;
      z-index: -1;
    }

    &:nth-child(2) {
      right: 8%;
      top: 5vh;
      z-index: -1;
    }

    &:nth-child(3) {
      right: 22%;
      top: 24vh;
      z-index: 1;
    }

    &:nth-child(4) {
      left: 10%;
      top: 70vh;
      width:30vw !important;
    }

    &:nth-child(5) {
      left: 20%;
      top: 30vh;
      width: 25%;
      z-index: 1;
    }

    &:nth-child(6) {
      right: 15%;
      top: 35vh;
      width: 25%;
      z-index: 1;
    }

    &:nth-child(7) {
      right: 20%;
      top: 68vh;
      width: 20%;
      z-index: -1;
    }
  }
}

.img-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: $green;
  z-index: 2;
  opacity: 0;
}



.centered-quote {
  .quote-container {
    max-width: $container;
    text-align: center;
    margin: 0 auto;
    padding-bottom: $spaceS;

    h2 {
      @include quote;
    }

    .quote-author {
      p {
        @include author;
      }

      span {
        font-style: italic;
      }
    }
  }
}

.title-section {
  padding: 0 $spacing*3;
  margin-top: $spaceB;

  h1 {
    font-size: 84px;
    text-transform: uppercase;
    font-family: $maz;
    margin-bottom: $spaceM;
    padding: 0 $spacing*2;
    text-align: center;
  }

  .subtitle {
    display: flex;
    align-items: center;
    margin-bottom: $spaceM;
    text-align: center;
    h2 {
      padding: 0 $spacing*3;
      font-size: $tquote;
      width: 100%;
      font-family: $maz;
      white-space: nowrap;
    }

    .right-line {
      display: flex;
      position: relative;
      height: 1px;
      background: white;
      width: 100%;

      &:after {
        content: " ";
        @include lineEl;
        top: -3px;
        right: 0;
      }
    }

    .left-line {
      display: flex;
      position: relative;
      height: 1px;
      background: white;
      width: 100%;

      &:before {
        content: " ";
        @include lineEl;
        top: -2.5px;
      }
    }
  }
}

.section-title {
  h1 {
    font-size: 84px;
    text-transform: uppercase;
    font-family: $maz;
    margin-bottom: $spaceM;
    padding: 0 $spacing*2;
    text-align: center;
  }

  .sommario {
    width: 100%;
    max-width: $container;
    padding: 0 $spacing*3;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: $spaceB;
  }
}

.text-container {
  width: 100%;
  max-width: $container;
  padding: 0 $spacing*3;
  margin: 0 auto;
  i{font-style: italic;}
  .month {
    @include author;
    margin-bottom: $spacing*2;
    text-align: center;
  }

  .orizontal-line {
    width: 100%;
    height: 1px;
    background: white;
    position: relative;
    margin-bottom: $spaceS;

    &:after {
      content: "";
      top: -3px;
      @include lineEl;
    }

    &:before {
      top: -2.5px;
      right: 0;
      content: "";
      @include lineEl;
    }
  }

  .credits-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $spaceS;
    padding: 0 $spacing*3;

    .left-c {
      h5 {
        @include author;
        margin-bottom: 4px;

        span {
          font-style: italic;
          font-family: $serif;
          text-transform: none;
          margin-right: $spacing/2;
        }
      }

      p {
        @include author;
        font-size: 8px;
        line-height: 1.5;
      }
    }
  }

  .text {
    margin-bottom: $spaceM;

    p {
      font-size: 20px;
      line-height: 1.6;

      .dropcap {
        float: left;
        margin-right: $spacing*3;
        margin-bottom: $spacing;
      }
    }

    p:not(:last-child) {
      margin-bottom: $spacing*4;
    }
  }
}

.infografica-container {
  width: 100%;
  text-align: center;
  margin-bottom: $spaceM;

  h3 {
    margin: 0 auto;
    line-height: 1.6;
    @include author;
    width: 50%;
    margin-bottom: $spacing*6;
  }

  img {
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  &.small {
    img {
      max-width: $container;
      margin: 0 auto;
      min-width: unset;
    }
  }
}

.number-row {
  width: 100%;
  padding: 0 $spacing*3;
  margin-bottom: $spaceM;

  .row-cont {
    display: flex;
    padding: $spacing*5 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    padding: $spacing*3 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    h3 {
      font-family: $mat;
      font-size: 72px;
      margin-bottom: $spacing*3;
      span{
        font-size: 40px;
      }
    }

    p {
      font-style: italic;
      line-height: 1.5;
    }
  }

  .col:not(:last-child) {
    border-right: 1px solid white;
  }
}

.chapter-separator {
  width: 100%;
  padding: 0 $spacing*4;
  margin: 0 auto;
  text-align: center;
  margin-bottom: $spaceS;

  img {
    margin-bottom: $spacing*2;
  }

  .chapter-title {
    display: flex;
    align-items: center;

    h2 {
      @include author;
      padding: 0 $spacing*3;
      width: 100%;
      line-height: 1.6;
    }

    .left-line {
      width: 100%;
      background: white;
      height: 1px;
      position: relative;

      &:before {
        content: " ";
        @include lineEl;
        top: -2.5px;
        left: 0;
      }
    }

    .right-line {
      width: 100%;
      background: white;
      height: 1px;
      position: relative;

      &:after {
        content: " ";
        @include lineEl;
        top: -3px;
        right: 0;
      }
    }
  }
}

.image-section-mirror {
  max-width: 1300px;
  padding: 0 $spacing*3;
  margin: 0 auto $spaceM;
  width: 100%;

  .image-mirror-container {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.swiper-slide-active{
  transform: scale(1.2);
  opacity: 1 !important;
}
.slider-section{
  .slider-heading{
    display: flex;
    padding: 0 $spacing*4;
    align-items: center;
    &.noText{
      .line{
        width:100%;
      }
    }
    .text{
      width:30%;
      min-width: 500px;
      font-family: $mat;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 1.6;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    .line{
      width:70%;
      margin-left: $spacing*2;
      height: 1px;
      background: white;
    }
  }
  .swiper{
    .swiper-wrapper{
      height: 800px;
    }
    .swiper-slide{
      opacity: 0.4;
      transition: .25s ease;
      z-index: 2;
      display: flex;
      align-items: center;
    }
  }
}
.control-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacing*10;
  padding-bottom: $spacing*6;
  border-bottom: 1px solid white;
  .slide-captions, .slide-captions-fixed{
    width:33%;
    padding: 0 $spacing*2;
    min-width: 500px;
    line-height: 1.5;
    text-align: center;
    font-style:italic;
  }
  img{
    cursor: pointer;
  }
}


// video container

.video-section{
  .video-container{
    max-width: $containerLarge;
    padding: 0 $spacing*3;
    margin: $spacing*15 auto;
    position: relative;
    img{
      width:100%;
      height: auto;
    }
    .text-video{
      position: absolute;
      left:0;
      bottom:0;
      .text-video-container{
        width:400px;
        font-style: italic;
        line-height: 1.5;
        p{padding-top: $spacing; text-align: right;}
        .svg-cont{
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}


.image-quote-section{
  margin: $spacing*10 0;
  img{
    width:100%;
    height:auto;
  }
  .image-quote-container{
    max-width: $containerLarge;
    padding: 0 $spacing*3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    .image-left{
      width:45%;
    }
    .image-right{
      position: relative;
      margin-left: -10%;
      width:110%;
      z-index: -1;
    }
    .text-quote{
      min-width:40%;
      width:45%;
      align-self: flex-start;
      margin-top: 5%;
      padding: 0 $spacing*2;
      h3{
        font-family: $mat;
        font-size: 18px;
        line-height: 1.6;
        text-transform: uppercase;
        margin-bottom: $spacing*5;
      }
      h5{
        font-style: italic;
        width:70%;
      }
    }
  }
}


.image-mosaico-section{
  height: 80vh;
  background: grey;
  margin-bottom: $spaceM;
}



.end-section {
  text-align: center;
  margin-bottom: $spacing*4;
}

footer {
  padding: 0 $spacing*3;
  display: flex;
  flex-direction: column;

  .orizontal-line {
    width: 100%;
    height: 1px;
    background: white;
    position: relative;

    &:after {
      content: "";
      top: -3px;
      @include lineEl;
    }

    &:before {
      top: -2.5px;
      right: 0;
      content: "";
      @include lineEl;
    }
  }

  .footer-container {
    padding: $spacing*6;

    .title {
      margin-bottom: $spacing*4;
    }

    .link-container {
      display: flex;

      a {
        color: white;
      }
      line-height: 1.5;

      .col {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          font-style: italic;
        }

        ul {
          li {
            margin-top: $spacing;
            @include author;
          }
        }

        .top {
          @include author;

          p {
            font-style: italic;
            font-family: $serif;
            text-transform: none;
            letter-spacing: normal;
            font-size: 16px;
            margin-bottom: $spacing*2;
          }
        }

        .bottom {
          font-style: italic;
          margin-top: $spacing*5;

          a {
            @include author;
            font-style: normal;
            display: block;
            margin-top: $spacing*2;
            margin-bottom: 0;
          }
        }

        &:last-child {
          li {
            font-size: 8px;
            margin-top: $spacing*2;
          }
        }
      }

      .col:not(:last-child) {
        padding-right: 5%;
      }
    }
  }
}
// mobile
.mobile,
.mobile-small {
  display: none !important;
}

.desktop,
.desktop-small {
  display: flex !important;
}
@media only screen and (max-width: 768px) {
  .mobile,
  .mobile-small {
    display: flex !important;
  }

  .desktop,
  .desktop-small {
    display: none !important;
  }

  .v-line-cont .v-line{
    height: 150px;
  }
  .v-line-cont.end{
    .v-line{
      height: 50vh;
    }
  }

  .image-hero-container{
    img{
      height: auto;
      width:100%;

    }
  }
  .separator-container.first img, .separator-container.center img{
    width:calc(100% - 48px);
    left: $spacing*3;
    z-index: 2;
    top:10%;
  }
  .separator-container.last img{
    width:70vw;
    left: 15vw;
    z-index: 2;
    top:5%;
  }



  .first-section{
    .hero-section{
      .hero-container{
        padding: $spacing*3;
        flex-direction: column-reverse;
        .logo{
          position: absolute;
          top:$spacing*3;
        }
        .v-line-cont{
          margin-top: 0;
        }
        .image-hero-container{
          position: relative;
          figure{
            position: relative;
            width:100%;
            left: 0;
            right:0;
            top:0;
            img{
              width:100%;
              height: auto;
            }
          }
        }
      }
    }
  }

  .separator-container{
    img{
      width:100%;
      position: relative;
    }
  }

  .swiper-slide-active{
    transform: scale(1.2);
    z-index: 9 !important;
  }

  .text-container .orizontal-line{
    margin-bottom: $spacing*2;
  }
  .text-container .credits-row{
    flex-direction: column-reverse;
    padding: 0;
    align-items: flex-start;
    .right-c{
      width:100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: $spacing*4;
    }
  }

  .slider-section .swiper .swiper-slide{
    padding: $spacing*4 0;
    img{
      width:100%;
      height: auto;
    }
  }
  .slider-section .swiper .swiper-wrapper{
    height: auto;
  }
  .slider-section .slider-heading .text{
    min-width: unset;
    width:100%;
  }
  .slider-section .slider-heading{
    flex-direction: column;
    padding: 0 $spacing*3;
    .text{
      margin-bottom: $spacing*3;

      padding-bottom: 0;
    }
    .line{
      width:100%;
    }
  }

  .control-footer{
    margin-bottom: 40px;
    border-bottom:0;
    padding-bottom: 0;
    .swiper-button-prev-custom, .swiper-button-next-custom{
      display: none;
    }
    .slide-captions, .slide-captions-fixed{
      min-width: unset;
      width:100%;
      margin-top: $spacing*2;
      padding-top: $spacing*2;
      border-top:1px solid white;
    }
  }

  .centered-quote .quote-container h2{
    font-size: 20px;
  }
  .centered-quote .quote-container{
    padding-left: $spacing*3;
    padding-right: $spacing*3;
  }

  .title-section{
    margin-top: 100px;
  }
  .title-section h1{
    font-size: 45px;
    margin-bottom: 20px;
  }
  .title-section .subtitle{
    margin-bottom: 20px;
     h2{font-size: 20px;}
  }
  .section-title h1{
    font-size: 45px;
    margin-bottom: 20px;
  }
  .section-title .sommario{
    font-size: 18px;
    margin-bottom: 100px;
  }
  .text-container .text p{
    font-size: 18px;
  }
  .text-container .text{
    margin-bottom: 40px;
  }
  .infografica-container h3{
    width:100%;
    margin: 0;
    margin-bottom: $spacing;
  }
  .infografica-container img{
    margin-top: $spacing*2;
  }


  .infografica-container{
      padding: 0 $spacing*3;
      margin-bottom: 40px;
  }

  .video-section .video-container{
    margin: 60px 0;
  }
  .video-section .video-container .text-video{
    position: relative;
    .text-video-container{
      width:70%;
    }
  }

  .number-row{
    margin-bottom: 40px;
    .row-cont{
      border:none;
      padding: 0;
      flex-wrap: wrap;
      .col{
        width:50%;
        flex: unset;
        padding: $spacing*3 0;
        p{
          font-size: 15px;
        }
        &:first-child{
          margin-bottom: $spacing*3;
          padding-right: $spacing;
        }
        &:nth-child(2){
          border-right: 0;
          margin-bottom: $spacing*3;
          padding-left: $spacing;
        }
        &:nth-child(3){
          padding-right: $spacing;
        }
        &:nth-child(4){
          padding-left: $spacing;
        }
        h3{
          font-size: 40px;
        }
      }
    }
  }

  .chapter-separator{
    margin-bottom: $spacing*3;
  }
  .chapter-separator .chapter-title h2{
    min-width: 200px;
  }

  .image-quote-section{
    .image-quote-container{
      flex-wrap: wrap;
      .image-left{
        order:1;
        width:50%;
      }
      .text-quote{
        order:3;
        width:100%;
        padding: 0;
        margin-top: -5px;
        h3{
          font-size: 16px;
        }
      }
      .image-right{
        order:2;
        width:50%;
      }
    }
  }

  footer .footer-container{
    padding: $spacing*3 0;
    margin-top: $spacing*4;
  }
  footer .footer-container .link-container{
    flex-wrap: wrap;
    .col{
      min-width:100%;
      .social{
        display: flex;
        justify-content: space-between;
      }
      &:nth-child(3){
        width:50%;
        min-width: unset;
        margin-top: $spacing*6;
        li, p{
          margin-bottom: $spacing*2;
        }
      }
      &:last-child{
        width:50%;
        min-width: unset;
        margin-top: $spacing*6;
      }
    }
  }

}
